/* styles.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Main content styles */
main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* Error message */
.error-message {
  color: red;
  margin-top: 10px;
}

.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delay-note {
  background-color: #a371f7;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb; /* Border color */
  border-radius: 5px;
}

.adblocker-note {
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #f5c6cb; /* Border color */
  border-radius: 5px;
}

@media (max-width: 768px) {
  main {
    flex-direction: column;
    justify-content: center;
  }

  .form-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .schedule-table-container {
    margin-bottom: 150px;
  }
}